<div class="container">
  <section class="row c-index-radio">
    <h2>Radio</h2>

      <div class="panel panel-default">

        <div class="panel-heading">
          <span class="panel-title">Radio Details</span>

        {{#link-to 'client-link.radio.edit'}}
          <span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
        {{/link-to}}

        </div>

        <div class="panel-body">
          <div class="row row_element">
            <label class="col-sm-3">Name</label>
            <div class="col-sm-2">
              {{input value=model.radio.name}}
            </div>
          </div>

          <div class="row row_element">
            <label class="col-sm-3">Item Code</label>
            <div class="col-sm-2">
              {{input value=model.radio.itemCode}}
            </div>
          </div>

          <div class="row row_element">
            <label class="col-sm-3">Icasa Sticker</label>
            <div class="col-sm-2">
              {{input type="checkbox" name="hasIcasaSticker" checked=hasIcasaSticker}}
            </div>
          </div>

          <button type="button" class="btn btn-primary pull-right" {{action "updateRadio"}}>Save</button>
        </div>

      </div>

  </section>
</div>


