<div class="container">
  <section class="row c-index-radio">
    <h2>Radio</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">Do you want to create a new Radio?</span>
      </div>

      <div class="panel-body">

        <div class="row row_element">
          <div class="col-md-1">
            <button type="button" class="btn btn-primary pull-right">No</button>
          </div>

          <div class="col-md-1">
            <button type="button" class="btn btn-primary pull-right" {{action 'saveRadio'}}>Yes</button>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>


