<div class="container">
  <section class="row c-index-radio">
    <h2>Radio</h2>

      <div class="panel panel-default">

        <div class="panel-heading">
          <span class="panel-title">Radio Details</span>
        </div>

        <div class="panel-body">
          <div class="row row_element">
            <label class="col-sm-3">Name</label>
            <div class="col-sm-2">
              {{input value=name}}
            </div>
          </div>

          <div class="row row_element">
            <label class="col-sm-3">Item Code</label>
            <div class="col-sm-2">
              {{input value=itemCode}}
            </div>
          </div>

          <div class="row row_element">
            <label class="col-sm-3">Icasa Sticker</label>
            <div class="col-sm-2">
              {{input type="checkbox" name="hasIcasaSticker" checked=hasIcasaSticker}}
            </div>
          </div>

          <button type="button" class="btn btn-primary pull-right" {{action "saveRadio"}}>Save</button>
        </div>

      </div>

  </section>
</div>


