<h4>New service</h4>
<tr>
  <td>{{input value=newLinetag}}</td>
  <td>{{view "select"
        content=lineSpeeds
        value=newServiceLineSpeed
        prompt="Please Select"}}</td>
  <td>{{input value=newVlan}}</td>
  <td>
    <button type="button" class="btn btn-primary btn-sm pull-right" {{action "saveService" serviceFragment}}>Save</button>
  </td>
</tr>
