<section class="row">
  <div class="image-section"></div>
</section>

<span class="btn btn-default fileinput-button">
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add Image</span>
  {{input id="imageupload" type="file" name="image_data"  multiple="true"}}
</span>

<section class="row">

  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
    aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>

</section>
