<section class="row">
  <div class="image-section"></div>
</section>

<span class="btn btn-default fileinput-button">
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add Image</span>
  {{input id="imageupload" type="file" name="image_data"  multiple="true"}}
</span>

<section class="row">
  <div id="progress">
    <div class="bar" style="width: 0%;"></div>
  </div>
</section>
