<div class="container">
  <section class="row">
    <h2>Service</h2>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Line Tag:</label>
        <div class="col-sm-9">
          {{input value=model.linetag class="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Line Speed (Mbps):</label>
        <div class="col-sm-9">
          {{view "select"
          content=lineSpeeds
          value=model.lineSpeed
          prompt="Please Select"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">VLAN:</label>
        <div class="col-sm-9">
        {{input value=model.vlan}}
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-primary pull-right" {{action "updateService" serviceFragment}}>Save</button>
  </section>
</div>
