<div class="pull-right">
  {{#link-to 'client-link.edit'}}
    <span class="glyphicon glyphicon-pencil js-actions edit" aria-hidden="true"></span>
  {{/link-to}}
  {{#link-to 'client-link.index'}}
    <span class="glyphicon glyphicon-eye-open js-actions view" aria-hidden="true"></span>
  {{/link-to}}
  <span class="glyphicon glyphicon-trash js-actions delete" aria-hidden="true" {{action "removeClientLink"}} ></span>
  {{#link-to 'client-link.audit'}}
    <span class="glyphicon glyphicon-list-alt js-actions audit" aria-hidden="true"></span>
  {{/link-to}}
  <span class="glyphicon glyphicon-floppy-disk js-actions save" aria-hidden="true" {{action "acceptChanges"}}></span>
</div>

<br>
<br>
