<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/images/logo.svg">
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Wi-Band
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              {{#link-to 'base-station-units'}}
                Base Station Units
              {{/link-to}}
              {{#link-to 'base-station-sectors'}}
                Base Station Sectors
              {{/link-to}}
              {{#link-to 'client-links'}}
                Client Links
              {{/link-to}}
              {{#link-to 'maps'}}
                Maps
              {{/link-to}}
            </li>
          </ul>
        </li>
        <li><a href="#"> Fibre</a></li>

        {{! Push this feature check down when more admin features get flagged }}
        {{#if features.manageAuthorizations}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Admin
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              {{#link-to 'authorizations'}}
                Authorizations
              {{/link-to}}
            </li>
          </ul>
        </li>
        {{/if}}

      </ul>

      {{render "user-profile" session.content}}
    </div>

  </div>
</div>

<div class="container main-content">
  {{#each flashes.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
  {{outlet}}
</div>

<div class="navbar navbar-inverse footerbar navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">&#169; 2014 Internet Solutions. All Rights Reserved.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{partial "photoswipe"}}

