<div class="row">
  <div class="col-md-12">
    <div class="page-title">
      {{#link-to 'authorizations.new' class="btn btn-default"}}
        <span class="glyphicon glyphicon-plus"></span>
        Add
      {{/link-to}}
      <h1>Authorizations</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="list-group c-authz-list">
      {{#each authz in persisted}}
      {{#link-to 'authorization' authz class="list-group-item c-authz-list__item"}}
        <span class="pointer glyphicon glyphicon-chevron-right"></span>
        <h4 class="list-group-item-heading">{{authz.name}}</h4>
        <p class="list-group-item-text">{{authz.email}}</p>
      {{/link-to}}
      {{/each}}
    </div>
  </div>

  <div class="col-md-6">
    {{outlet}}
  </div>
</div>
