<h1>Client Link <small>{{model.name}}</small></h1>

<!-- <div class="actions">
  {{#link-to 'client-link.edit'}}
    <span class="glyphicon glyphicon-pencil js-actions edit" aria-hidden="true"></span>
  {{/link-to}}
  <a href="api/v1/client_links/export">
    <span class="glyphicon glyphicon-export js-actions export" target="_blank" aria-hidden="true"></span>
  </a>
  {{#link-to 'client-link.audit'}}
    <span class="glyphicon glyphicon-list-alt js-actions audit" aria-hidden="true"></span>
  {{/link-to}}
</div> -->

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#site_information" aria-controls="site_information" role="tab" data-toggle="tab">{{#link-to 'client-link.site-information'}}Site Information{{/link-to}}</a></li>
    <li role="presentation"><a href="#siebel" aria-controls="siebel" role="tab" data-toggle="tab">{{#link-to 'client-link.siebel'}}Siebel{{/link-to}}</a></li>
    <li role="presentation"><a href="#rf_performance" aria-controls="rf_performance" role="tab" data-toggle="tab">RF Performance</a></li>
    <li role="presentation"><a href="#modulation" aria-controls="modulation" role="tab" data-toggle="tab">Modulation</a></li>
    <li role="presentation"><a href="#physical_ports" aria-controls="physical_ports" role="tab" data-toggle="tab">Physical Ports</a></li>
    <li role="presentation"><a href="#service_fragments" aria-controls="service_fragments" role="tab" data-toggle="tab">{{#link-to 'client-link.service-fragments'}}Service Fragments{{/link-to}}</a></li>
    <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
    <li role="presentation"><a href="#quality_assurance" aria-controls="quality_assurance" role="tab" data-toggle="tab">Quality Assurance</a></li>
    <li role="presentation"><a href="#pictures" aria-controls="pictures" role="tab" data-toggle="tab">Pictures</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="pictures">
      {{partial "client-link/index/pictures"}}
    </div>
  </div>
</div>

{{outlet}}
