<h1>Client Link <small>{{model.name}}</small></h1>

<div class="actions">
  {{#link-to 'client-link.audit'}}
    <span class="glyphicon glyphicon-list-alt js-actions audit" aria-hidden="true"></span>
  {{/link-to}}
</div>

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">


  {{#active-link}}
    {{#link-to 'client-link.site-information'}}Site Information{{/link-to}}
  {{/active-link}}

  {{#active-link}}
    {{#link-to 'client-link.siebel'}}Siebel{{/link-to}}
  {{/active-link}}

  {{#active-link}}
    {{#link-to 'client-link.rf-performance-parameters'}}RF Performance{{/link-to}}
  {{/active-link}}

  {{#active-link}}
    {{#link-to 'client-link.modulation'}}Modulation{{/link-to}}
  {{/active-link}}

  {{#active-link}}
    {{#link-to 'client-link.client-side-ports'}}Client Side Ports{{/link-to}}
  {{/active-link}}

  {{#active-link}}
    {{#link-to 'client-link.service-fragments'}}Service Fragments{{/link-to}}
  {{/active-link}}

  <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
  <li role="presentation"><a href="#quality_assurance" aria-controls="quality_assurance" role="tab" data-toggle="tab">Quality Assurance</a></li>

  {{#active-link}}
    {{#link-to 'client-link.pictures'}}Pictures{{/link-to}}
  {{/active-link}}

  </ul>
</div>

{{outlet}}
