<h1>
  Client Link
  <small>
    {{model.name}}
    {{#link-to 'client-link.audit'}}
      <span class="glyphicon glyphicon-list-alt js-actions audit pull-right" aria-hidden="true"></span>
    {{/link-to}}
  </small>
</h1>

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">{{#link-to 'client-link.overview'}}Overview{{/link-to}}</a></li>
    <li role="presentation"><a href="#rf_performance" aria-controls="rf_performance" role="tab" data-toggle="tab">RF Performance</a></li>
    <li role="presentation"><a href="#modulation" aria-controls="modulation" role="tab" data-toggle="tab">Modulation</a></li>
    <li role="presentation"><a href="#service_fragments" aria-controls="service_fragments" role="tab" data-toggle="tab">{{#link-to 'client-link.service-fragments'}}Service Fragments{{/link-to}}</a></li>
    <li role="presentation"><a href="#physical_ports" aria-controls="physical_ports" role="tab" data-toggle="tab">{{#link-to 'client-link.client-side-ports'}}Client Side Ports{{/link-to}}</a></li>
    <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
    <li role="presentation"><a href="#quality_assurance" aria-controls="quality_assurance" role="tab" data-toggle="tab">Quality Assurance</a></li>
    <li role="presentation"><a href="#pictures" aria-controls="pictures" role="tab" data-toggle="tab">Pictures</a></li>
  </ul>
</div>

{{outlet}}
