<div class="container">
  <section class="row">
    <h1> Welcome to Cops </h1>
    <div class="alert alert-info" role="alert">This is a placeholder for the Index Page</div>
  </section>
</div>

{{outlet}}
