<div class="container">
  <section class="row">
    <h1> Welcome to Cops </h1>
    {{alert-message alertType="alert-info" message="This is a placeholder for the Index Page"}}
  </section>
</div>

{{outlet}}
