<h2 class="sub-header">Client Links</h2>
<table class="table table-striped display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>MSAD Number</th>
      <th>Solution ID</th>
      <th>Status</th>
  </thead>
  <tbody>
    <tr>
      <td>Afgri Isando: Bridgestone</td>
      <td>4.2</td>
      <td>1-54EWS</td>
      <td>active</td>
    </tr>
    <tr>
      <td>Bryanston Towers: Adcorp -Bryanston </td>
      <td>4.3</td>
      <td>1-TR56Y</td>
      <td>operational</td>
    </tr>
    <tr>
      <td>Carlton Center: JPC -Jeppe</td>
      <td>4.7</td>
      <td>1-GF6557E</td>
      <td>active</td>

    </tr>
  </tbody>
</table>

{{outlet}}
