<!-- <a id='Login' href = '/users/auth/isoauth2'> Login</a> -->


<div class="login-box">
  <div class="logo">
    <img src="/assets/images/logo.svg">
  </div>
  <h1>Login with ISID</h1>
  <a href='/users/auth/isoauth2' class="btn btn-default">
    Login
  </a>
</div>

{{outlet}}
