<span class="btn btn-default btn-xs fileinput-button">
  <i class="glyphicon glyphicon-plus"></i>
  <span >Add Picture</span>
  {{input class="js-picture-upload" type="file" name="picture_data"  multiple="true"}}
</span>

<div class="progress invisible">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
