<span class="btn btn-default fileinput-button">
  <i class="glyphicon glyphicon-plus"></i>
  <span >Add Picture</span>
  {{input class="js-picture-upload" type="file" name="picture_data"  multiple="true"}}
</span>
