{{#if session.isAuthenticated}}
  <h2>User Profile</h2>
  Name of user
  <a {{ action 'logout' }} class="btn btn-default">Logout</a>
{{else}}
  User Profile
  Name of user
  <a id='Login' href='/users/auth/isoauth2' class="btn btn-default">Login</a>
{{/if}}