<div class="container">
  <section class="row">
    <h2> Pictures </h2>
    {{alert-message alertType="alert-info" message="Click on the picture to launch into an album view"}}

    {{#each picture in pictures itemController="picture"}}
      <ul class="album">

        <li>
          <div class="picture" {{action "expand" this}}>
            <img {{bind-attr src="picture.model.url"}}>
            <div class="overlay">
              <a class="close-overlay" {{action 'removePicture' this}}>
                &times;
              </a>
            </div>
          </div>
        </li>

      </ul>

    {{/each}}
  </section>
</div>
