<div class="container">
  <section class="row">
    <h2> Physical Ports </h2>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2">VLAN Type</div>
      <div class="col-sm-2">Acceptable Frame Type</div>
      <div class="col-sm-2">Default VLAN</div>
      <div class="col-sm-2">VLANs</div>
    </div>

    <div class="row">
      <div class="col-sm-1">1</div>
      <div class="col-sm-2">
        <select>
          <option selected="selected"></option>
          <option value="Provider Port">Provider Port</option>
          <option value="VLAN Transparent">VLAN Transparent</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select>
          <option selected="selected"></option>
          <option value="Tagged Only">Tagged Only</option>
          <option value="Untagged Only">Untagged Only</option>
          <option value="Tagged and Untagged">Tagged and Untagged</option>
        </select>
      </div>
      <div class="col-sm-2">
        <input type="text"></input>
      </div>
      <div class="col-sm-2">
        <input type="text"></input>
      </div>
    </div>
    <button type="button" class="btn btn-default js-add-port">Add Port</button>

  </section>
</div>
