<div class="container">
  <!-- SECTION 3: RF PERFORMANCE -->
  <section class="row">
    <h2> RF Performance </h2>
    <div class="table-responsive">
      <table class="table table-responsive display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th></th>
            <th>RSSI</th>
            <th>CNR</th>
            <th>RSSI</th>
            <th>CNR</th>
            <th>Tx Power</th>
            <th>Step Attenuator</th>
            <th>Reserve Power</th>
        </thead>
        <tbody>
          <tr>
            <td>Predicted</td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
          </tr>
          <tr>
            <td>Commissioned</td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
            <td><input type="number"></input></td>
          </tr>
          <tr class="success">
            <td>Result</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
