<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">VLAN Type:</label>
    <div class="col-sm-9">
      {{view "select"
        content=vlanTypes
        value=model.vlanType
        prompt="Please Select"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Acceptable Frame Type:</label>
    <div class="col-sm-9">
      {{view "select"
        content=acceptableFrameTypes
        value=model.acceptableFrameType
        prompt="Please Select"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Default VLAN:</label>
    <div class="col-sm-9">
      {{input value=model.defaultVlan}}
    </div>
  </div>
</form>
<button type="button" class="btn btn-primary pull-right" {{action "updatePort" serviceFragment}}>Save</button>
