// Google Maps component
.c-map-canvas {
  height: 35em;
  width: auto;
  border: 5px solid #e3e3e3;
}

// Map filter component
.c-map-filter {

  &__header {
    margin: 5px 0;
  }

  &__divider {
    margin: 5px;
    border-top: 1px solid #e3e3e3;
  }

  &__toggle {
    padding: 5px;

    label {
      cursor: pointer;
      display: block;
      font-weight: normal;
      padding-left: 20px;
      position: relative;
    }

    input {
      display: none;
    }

    .glyphicon {
      font-size: inherit;
      position: absolute;
      left: 0;
      top: 2px;

      &.operational {
        color: #649131;
      }
      &.under-construction {
        color: #EEA506;
      }
      &.decommissioned {
        color: #D8DDE1;
      }
      &.commissioning {
        color: #3D96EF;
      }
      &.to-be-decommissioned {
        color: #A50077;
      }
      &.waiting-for-field-service-engineer-report {
        color: #DD3E00;
      }
      &.waiting-for-field-services-qa-approval {
        color: #310031;
      }
      &.waiting-for-is-qa-approval {
        color: #D2493C;
      }
      &.client-link {
        color: inherit;
      }
      &.disabled {
        color: #D8DDE1;
      }
    }

  }
}
