.c-service-fragment {

  &__add-button {
    margin-bottom: 1em;
    padding: 0 1em;
  }

  &__service-heading, &__port-heading {
    text-align: center;
    margin-bottom: 0;
  }

  &__service-table, &__port-table {
    cursor: pointer;
    cursor: hand;
  }

  &__footer.row {
    padding-right: 1em;
  }
}
