body {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

/* LOGIN */
.login-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  background: #ebeff1;
  padding: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}

div.login-box h1 {
  padding: 2rem 0;
  border-bottom: 1px solid #cecece;
}

.login-box .logo {
  width: 30%;
  display: inline-block;
}

.login-box .logo img {
  width: 100%;
}

/* FORM */

.row.row_element {
  margin-bottom: 14px;
  margin-top: 14px;
}

.row.row_element select {
  width: 100%;
}

.row.row_element input {
  width: 100%;
}

section.row h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.tab-pane section.row .row {
  margin-bottom: 15px;
  margin-top: 15px;
}

/* USER-PROFILE */
.user-info li {
  text-align: center;
}


/* APPLICATION */
.main-content {
  margin-bottom: 70px;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footerbar {
  padding: 0px;
}

.navbar-brand img {
  width: 100px;
}

@media screen and (max-width: 767px) {
  .navbar-brand img {
    width: 50px;
  }

  .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.glyphicon {
  font-size: 1.2em;
}

.actions{
  float: right;
}

.nav.nav-tabs{
  clear: both;
}

.js-actions {
  padding: 10px;
  cursor: pointer;
  cursor: hand;
  transition: all .2s ease-in-out;
}

.js-actions:hover {
  transform: scale(1.5);
}

/* PICTURES */
#pictures {
  ul.picture-set {
    padding: 0;
    list-style-type: none;

    li {
      display: inline;
    }
  }

  img {
    max-width: 120px;
    max-height: 120px;
    margin : 2px;
  }
}

.picture {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}

.picture:hover .overlay {
  height: 100%;
  border-style: solid;
  border-width: 1px;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
  text-align: right;
  padding-right: 5px;
  background-color: #000;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

.group-classification {
  margin-bottom: 120px;

  h3 {
    text-align: center;
  }
}

.sub-group-classification {
  margin-bottom: 64px;
}

.sub-group-classification .progress {
  margin: 8px 0;
  max-width: 400px;
}

.pswp__bg {
  background: rgba(0, 0, 0, 0.9);
}
