body {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

/* LOGIN */
.login-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  background: #ebeff1;
  padding: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}

div.login-box h1 {
  padding: 2rem 0;
  border-bottom: 1px solid #cecece;
}

.login-box .logo {
  width: 30%;
  display: inline-block;
}

.login-box .logo img {
  width: 100%;
}

/* FORM */

.row.row_element {
  margin-bottom: 14px;
  margin-top: 14px;
}

.row.row_element select {
  width: 100%;
}

.row.row_element input {
  width: 100%;
}

section.row h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.tab-pane section.row .row {
  margin-bottom: 15px;
  margin-top: 15px;
}

#notes textarea {
  width: 100%;
}

/* to-do: fix so that mobile responsive*/
#rf_performance td input {
  width: 100px;
}

.js-add-port {
  float: right;
}

.js-add-fragment {
  float: right;
}

#pictures .row {
  text-align: center;
}


/* USER-PROFILE */
.user-info li {
  text-align: center;
}


/* APPLICATION */
.main-content {
  margin-bottom: 70px;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footerbar {
  padding: 0px;
}

.navbar-brand img {
  width: 100px;
}

@media screen and (max-width: 767px) {
  .navbar-brand img {
    width: 50px;
  }

  .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.js-new-client-link{
  border: 1px solid #cacaca;
  margin: 0px 30px 0px 30px;
}

.glyphicon {
  font-size: 1.2em;
}

.actions{
  float: right;
}

.nav.nav-tabs{
  clear: both;
}

.js-actions {
  padding: 10px;
  cursor: pointer;
  cursor: hand;
  transition: all .2s ease-in-out;
}

.js-actions:hover {
  transform: scale(1.5);
}

.js-client-links-table tr {
  cursor: pointer;
  cursor: hand;
}

.bar {
  height: 18px;
  background: green;
}
