<h2>Invite User to COPS</h2>
<form>
  <div class="form-group">
    <label for="user-email">Email: </label>
    {{input id="user-email" placeholder="Email address" class="form-control" type="email" value=model.email }}
  </div>
  <button class="btn btn-default" {{ action 'sendInvite' }}>Invite</button>
  
</form>
{{outlet}}