<div class="container">
  <section class="row">
    <h2>Base Station Unit</h2>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-10">
          {{input value=model.name class="form-control base-station-unit__name"}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Status:</label>
        <div class="col-sm-10">
        {{view "select"
          contentBinding="statuses"
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=model.status.content
          class="form-control base-station-unit__status"
          prompt="Please Select"
        }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Core Node:</label>
        <div class="col-sm-10">
        {{view "select"
          contentBinding="coreNodes"
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=model.coreNode.content
          class="form-control base-station-unit__core-node"
          prompt="Please Select"
        }}
        </div>
      </div>
    </form>

    <button type="button" class="btn btn-primary pull-right qa-save" {{action "saveBaseStationUnit"}}>Save</button>
  </section>
</div>
