<div class="container">
  <section class="row">
    <h2> Physical Ports </h2>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>VLAN Type</th>
          <th>Acceptable Frame Type</th>
          <th>Default VLAN</th>
          <th>VLANs</th>
        </tr>
      </thead>
      <tbody>
      {{#each serviceFragment in model.serviceFragments}}
        {{#each service in serviceFragment.services}}
          {{#each port in service.ports}}
            <tr>
              <td>{{port.vlanType}}</td>
              <td>{{port.acceptableFrameType}}</td>
              <td>{{port.defaultVlan}}</td>
              <td>{{port.service.vlansString}}</td>
            </tr>
          {{/each}}
        {{/each}}
      {{/each}}
      </tbody>
    </table>
  </section>
</div>
