<div class="container">
<section class="row">
  <h2>Service Fragments</h2>

  {{#each serviceFragment in model.serviceFragments}}
  <table class="table table-hover table-striped table-bordered table-fragments">
    <thead>
      <tr class="dark-header">
        <th></th>
        <th>Work Order #</th>
        <th>Line Speed</th>
        <th>Type</th>
        <th>Physical Mode</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>{{serviceFragment.workOrderNumber}}</td>
        <td>{{serviceFragment.lineSpeed}} Mbps</td>
        <td>{{serviceFragment.serviceType}}</td>
        <td>{{serviceFragment.physicalMode}}</td>
        <td>
          <a>
            {{#link-to 'service-fragments' serviceFragment.id}}
              View
            {{/link-to}}
          </a>
        </td>
      </tr>
    </tbody>
   </table>
  {{/each}}
</section>
</div>


