<div class="container">
  <section class="row">
    <h2>Base Station Sector</h2>
    <div class="row row_element">
      <div class="col-md-2">
        <strong>Name:</strong>
      </div>
      <div class="col-md-3">
        {{model.name}}
      </div>
      <div class="col-md-2"></div>

      <div class="col-md-2">
        <strong>Status:</strong>
      </div>
      <div class="col-md-3">
        {{model.status.name}}
      </div>
    </div>

    <div class="row row_element">
      <div class="col-md-2">
        <strong>Sector:</strong>
      </div>
      <div class="col-md-3">
          {{model.sector}}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <strong>Base Station Unit:</strong>
      </div>
      <div class="col-md-3">
        {{model.baseStationUnit.name}}
      </div>
    </div>
  </section>
</div>
