<div class="container">
  <section class="row">
    <h2> Modulation </h2>

    <div class="table-responsive" cellspacing="0" width="100%">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>DL Min</th>
            <th>DL Max</th>
            <th>UL Min</th>
            <th>UL Max</th>
          </tr>
        </thead>
        <tbody>
          {{#each modulation in radio.modulations}}
            <tr>
              <td> name of modulation </td>
              <td>
                <select>
                  <option selected="selected"></option>
                  <option value="4QAM2/3">4QAM2/3</option>
                  <option value="4QAM">4QAM</option>
                  <option value="16QAM">16QAM</option>
                  <option value="64QAM">64QAM</option>
                </select>
              </td>
              <td>
                <select>
                  <option selected="selected"></option>
                  <option value="4QAM2/3">4QAM2/3</option>
                  <option value="4QAM">4QAM</option>
                  <option value="16QAM">16QAM</option>
                  <option value="64QAM">64QAM</option>
                </select>
              </td>
              <td>
                <select>
                  <option selected="selected"></option>
                  <option value="4QAM2/3">4QAM2/3</option>
                  <option value="4QAM">4QAM</option>
                  <option value="16QAM">16QAM</option>
                  <option value="64QAM">64QAM</option>
                </select>
              </td>
              <td>
                <select>
                  <option selected="selected"></option>
                  <option value="4QAM2/3">4QAM2/3</option>
                  <option value="4QAM">4QAM</option>
                  <option value="16QAM">16QAM</option>
                  <option value="64QAM">64QAM</option>
                </select>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>
<button type="button" class="btn btn-default pull-right">Save</button>

