<div class="container">
  <section class="row">
    <h2> Quality Assurance </h2>
    {{alert-message message="This is a placeholder for Quality Assurance Tab" alertType="alert-info"}}
  </section>
</div>
