<div class="container">
  <section class="row">
    <h2> Quality Assurance </h2>
    <div class="alert alert-info" role="alert">This is a placeholder for Quality Assurance Tab</div>
  </section>
</div>
