<h2>Invite User to COPS</h2>
<form>
  <div class="form-group">
    <label for="user-email">Email: </label>
    {{input id="user-email" placeholder="Email address" class="form-control"}}
  </div>
  {{link-to 'Invite' class="btn btn-primary" }}
</form>
{{outlet}}