<h2>View User</h2>

<form class="form-horizontal">
  <div class="form-group">
    <label for="user-name" class="control-label col-md-3">Name</label>
    <div class="col-md-3">
      <span id="user-name" class="form-control">Andre</span>
    </div>
  </div>
</form>

{{link-to "Request Password reset" class="btn btn-default"}}
{{link-to "Revoke access to COPS" class="btn btn-default"}}
{{outlet}}