<div class="container">
  <!-- SECTION 6: SERVICE FRAGMENTS -->
  <section class="row">
    <h2> Service Fragments </h2>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2">Work Order</div>
      <div class="col-sm-1">Mbps</div>
      <div class="col-sm-2">Type</div>
      <div class="col-sm-2">Physical Mode</div>
      <div class="col-sm-2">VLANS</div>
      <div class="col-sm-2">Linetag</div>
    </div>

    <div class="row">
      <div class="col-sm-1">1</div>
      <div class="col-sm-2">
        <input type="text"></input>
      </div>
      <div class="col-sm-1">
        <select>
          <option selected="selected"></option>
          <option value="0.25">0.25</option>
          <option value="0.5">0.5</option>
          <option value="0.75">0.75</option>
          <option value="1">1</option>
          <option value="1.5">1.5</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="12">12</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="18">18</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="40">40</option>
          <option value="45">45</option>
          <option value="50">50</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select>
          <option selected="selected"></option>
          <option value="Voice (rtPS)">Voice (rtPS)</option>
          <option value="Data 1:1 (nrtPS)">Data 1:1 (nrtPS)</option>
          <option value="Data 1:2 (BE Plus)">Data 1:2 (BE Plus)</option>
          <option value="Broadband (BE)">Broadband (BE)</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select>
          <option selected="selected"></option>
          <option value="4QAM2/3">4QAM2/3</option>
          <option value="4QAM">4QAM</option>
          <option value="16QAM">16QAM</option>
          <option value="64QAM">64QAM</option>
        </select>
      </div>
      <div class="col-sm-2">
        <input type="text"></input>
      </div>
      <div class="col-sm-2">
        <input type="text"></input>
      </div>
    </div>
      <button type="button" class="btn btn-default js-add-fragment">Add Fragment</button>
  </section>
</div>
