<div class="c-client-links-header">
  <h2 class="c-client-links-header__text">
    Client Links
  </h2>

  <span class="c-client-links-header__actions">
    {{#link-to "client-links.new" class="btn btn-default btn-xs qa-add-client-link" role="button"}}
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add Client Link
    {{/link-to}}
    <a class="btn btn-default btn-xs" href="/api/v1/client_links/export" role="button">
      <span class="glyphicon glyphicon-export" target="_blank" aria-hidden="true"></span>
      Export
    </a>
  </span>
</div>

{{#data-table}}
  <table class="table table-striped u-link-to-tr c-client-link-list" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>MSAD Number</th>
        <th>Solution ID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {{#each clientLink in model}}
      {{#link-to 'client-link.index' clientLink.id tagName="tr" classNames="c-client-link-list-item"}}
        <td class="c-client-link-list-item__name">{{clientLink.name}}</td>
        <td>{{clientLink.msadNumber}}</td>
        <td>{{clientLink.solutionIdentifier}}</td>
        <td>{{clientLink.status.name}}</td>
      {{/link-to}}
    {{/each}}
    </tbody>
  </table>
{{/data-table}}
